<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
	<appSettings>
		<add key="ConnectionSQL" value="66C898F9F4C8BB68BCD2763774C0E4F76F926AFEFE6E2D762367BA422CD3C6A75C51E9E6A4FD0CD751CBB89CE8D07EBCAD988DB2EA3DA7B70B6065EE02B8385C" />
		<add key="ConnectionallSQL" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=E:\CRJD.mdb" />
		<add key="ConnectionODBC" value="C8FA4AA979A580EA918F290556A4BBED608444A88897AEB03D0D60251077DC61C4E17C661EE2B9D477619B8443ED3FE18A89B2F78B35F0D34542F39B2D8ECE750AEB0FAF20AF88C40B0FE888B5EBB8242CDD4901634E4B0CF7A2441A67E6141FB4D84B0DB6F60B054016461F565E21DC26AB9E09AFAB02DEE9047A8B0FABCBA31F4B06D3A36DC679B2BA725EC4BD7FA9" />
		<add key="ConnectionOLE" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=CRJD.mdb" />
		<add key="ConStringEncrypt" value="true" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
		<add key="UserName" value="" />
	</appSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.246" newVersion="1.2.0.246" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>