<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://172.16.1.37/WebSer/PService.asmx" binding="basicHttpBinding"
                bindingConfiguration="PServiceSoap" contract="PService.PServiceSoap"
                name="PServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>